*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: blueviolet;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.weather-box{
  width: 600px;
  transform: translate(-50,-50);
  /* border: 10px solid red; */
  
  text-align: center;
  box-shadow: 0px 20px 20px 0px;

  

}

.weather-header h1{
  color: rgb(178, 214, 16);
  margin: 15px;
}

.weather-input{
border: none;
outline: none;
margin: 10px;

}

.weather-city h1{
  color:rgb(101, 233, 106)
}

.weather-row{
  display: flex;
  flex-direction: row;

}
.weather-coloum{
  flex-basis: 50%;
  margin: 10px;
  padding: auto;
}
.weather-coloum p{
  color:white
}

.weather-cloud {
  margin-top: 15px;
}